:root {
    /* Initialize values in GameEngine.js*/
    --game-width: 0;
    --game-height: 0;
    --button-width: 0;
    --button-height: 0;
    --card-width: 0;
    --card-height: 0;
    --card-border-width: 0.4rem;
    --card-border-radius: 10%;
    --summon-width: 0;
    --summon-height: 0;


    --color-black: black;
    --color-grey: #757575;
    --color-white: white;
    --color-red: #d95f4c;

    --default-transition: all .4s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-grey);
    font-size: 1rem;
}

.game-container {
    position: relative;
    margin: 1.5% auto;
    width: var(--game-width);
    height: var(--game-height);
}

.game-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--game-width);
    height: var(--game-height);
    image-rendering: pixelated;
}

/* Menus */
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--game-width);
    height: var(--game-height);
    background-color: var(--color-red);
}

.start-menu {
    background-color: darkslateblue;
}

.menu button {
    margin: 1% 0 0 0;
    display: block;
    width: var(--button-width);
    height: var(--button-height);
    cursor: pointer;
}

.menu button:hover {
    background-color: var(--color-grey);
    color: white;
}

img {
    image-rendering: pixelated;
}

/* Card Display */
.card-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.card-background .card-display {
    border: 12px solid var(--color-red);
    border-radius: var(--card-border-radius);
    width: 30%;
    height: 70%;
    background-color: var(--color-white);
    color: white;
    display: flex;
    flex-direction: column;
}

.card-display .card-upper-container{
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    width: 100%;
    height: 10%;
    background-color: var(--color-red);
    color: var(--color-white);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    transform: translate(-0.05rem, -0.05rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-display .card-image {
    width: 100%;    
    height: 60%;
    object-fit: contain;
    image-rendering: pixelated;
}

.card-display .card-lower-container{
    width: 100%;
    height: 10%;
    background-color: var(--color-red);
    color: var(--color-white);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    transform: translate(0.05rem, 0.05rem);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-display .card-effects-container{
    padding: 2% 2% 2% 2%;
    width: 100%;
    height: 20%;
    background-color: var(--color-red);
    color: var(--color-white);
}

.card-display .card-stat{
    margin: 0 5% 0 5%;
    font-size: 1rem;
}

.card-background .card-button {
    width: 15%;
    height: 10%;
}

/* Deck Menu */
.deck-menu {
    padding: 1.2%;
    background-color: #865f0e;
}

.deck-menu-header {
    border: 10px solid #e6e15a;
    width: 100%;
    height: 10%;
    background-color: #e3bf39;
    display: flex;
    align-items: center;
}

.deck-menu-header button {
    margin: 0;
    width: var(--card-height);
    height: 60%;
    cursor: pointer;
}

.deck-menu-header form {
    width: var(--card-height);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck-menu-header textarea {
    width: var(--card-height);
    height: 60%;
}

.deck-menu .deck-menu-trunk {
    border: 10px solid #4ed0b3;
    padding: 0 1.2% 1.2% 1.2%;
    width: 100%;
    height: 90%;
    background-color: #2da89e;
    color: white;
    overflow-y: scroll;
}

.tier-number {
    margin: 1.2% 0;
}

.tier-one-units,
.tier-two-units,
.tier-three-units {
    display: flex;
    flex-flow: row wrap;
}

.tier-one-items,
.tier-two-items,
.tier-three-items {
    display: grid;
    grid-template-columns: repeat(4, var(--card-width));
    grid-template-rows: repeat(1, var(--card-height));
    gap: 1.2% 1.2%;
}

/* Deck Menu - Card Element*/
.card-element {
    margin: 0.5%;
    /* BORDER LINE-WIDTH VALUE IS USED IN PlayMenu.js rollSellingCards() */
    border: var(--card-border-width) solid var(--color-red);
    border-radius: var(--card-border-radius);
    width: var(--card-width);
    height: var(--card-height);
    background-color: var(--color-white);
    display: block;
    flex-direction: column;
}

.card-element:hover,
.card-element:hover [class="card-image"] {
    border-color: var(--color-white);
    background-color: var(--color-red);
}

.card-element:hover [class="card-types"],
.card-element:hover [class="card-stats"] {
    background-color: var(--color-white);
    color: var(--color-black);
}

.card-element .card-types,
.card-element .card-stats {
    width: 100%;
    /* HEIGHT VALUE IS USED IN PlayMenu.js rollSellingCards() */
    height: 15%;
    background-color: var(--color-red);
    color: var(--color-white);
    display: flex;
}

.card-element .card-types {
    justify-content: flex-start;
    clip-path: polygon(0 0, 100% 0, 40% 100%, 0% 100%);
    transform: translate(-0.05rem, -0.05rem);
    border-top-left-radius: 0.4rem;
}

.card-element .card-image {
    width: 100%;
    /* HEIGHT VALUE IS USED IN PlayMenu.js rollSellingCards() */
    height: 70%;
    background-color: var(--color-white);
    object-fit: contain;
    image-rendering: pixelated;
}

.card-element .card-stats {
    justify-content: flex-end;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
    transform: translate(0.05rem, 0.05rem);
    border-bottom-right-radius: 0.4rem;
}

/* Play Menu Upper Container */
.play-menu .upper-container {
    height: 65%;
    object-fit: contain;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100%;
}

.upper-container .upper-image {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 65%;
    object-fit: fill;
}

.upper-container .upper-left-container{
    margin: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
}

.turn-count, .wave-count, .life-points, .mana-points{
    margin: 2%;
    border: 0.2rem solid var(--color-red);
    border-radius: 5%;
    width: 70%;
    height: auto;
    background-color: var(--color-white);
}

.upper-center-container {
    margin: 1rem 0 0 0;
    padding: 0 0 1% 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 65% 15%;
}

.upper-center-container .summoned-types-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.summoned-types-container .active-type-synergy,
.summoned-types-container .inactive-type-synergy {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.summoned-types-container .inactive-type-synergy {
    filter: grayscale(100%);
}

.upper-center-container .summoned-units-container {
    display: grid;
    grid-template-columns: repeat(6, var(--summon-width));
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    align-items: flex-end;
}

.upper-center-container .summoned-stats-container {
    display: grid;
    grid-template-columns: repeat(6, var(--summon-width));
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    align-items: center;
}

.upper-container .upper-right-container{
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.summoned-unit-div {
    /*border: 2px solid var(--color-black);*/
    width: var(--summon-width);
    height: var(--summon-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.summoned-unit-div img {
    width: 100%;
    height: 30%;
    object-fit: contain;
    image-rendering: pixelated;
}

.summoned-stats-div {
    border: var(--card-border-width) solid var(--color-red);
    border-radius: var(--card-border-radius);
    width: 100%;
    height: 100%;
    background-color: var(--color-red);
    display: flex;
    flex-direction: column;
}

.summoned-stats-div .unit-upper-stats {
    width: 100%;
    height: 50%;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.summoned-stats-div .unit-lower-stats {
    width: 100%;
    height: 50%;
    display: flex;
    color: var(--color-white);
    justify-content: center;
    align-items: center;
}

.upper-right-container {}

/* Play Menu Lower Container */
.play-menu .lower-container {
    padding: 1%;
    width: 100%;
    height: 35%;
    background: rgb(217, 95, 76);
    background: linear-gradient(342deg, rgba(217, 95, 76, 1) 0%, rgba(217, 95, 76, 1) 50%, rgba(255, 255, 255, 1) 50%);
    display: flex;
}

.lower-left-container,
.lower-right-container {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower-center-container {
    width: 70%;
    height: 100%;
    background-color: #5f637a;
    display: grid;
    grid-template-columns: repeat(6, var(--card-width));
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    align-items: center;
}