:root {
    /* Initialize values in GameEngine.js*/
    --canvas-width: 0;
    --canvas-height: 0;
    --card-width: 0;
    --card-height: 0;

    --color-grey: #757575;
    --default-transition: all .4s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-grey);
    font-size: 1rem;
}

.game-title,
.game-details {
    position: relative;
    margin: 1rem auto;
    width: 16rem;
}

.game-container{
    position: relative;
    margin: 1rem auto 0;
    width: var(--canvas-width);
    height: var(--canvas-height);
}

.game-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: var(--canvas-width);
    height: var(--canvas-height);
    image-rendering: pixelated;
}

/* Menus */
.menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: var(--canvas-width);
    height: var(--canvas-height);
    background-color: cadetblue;
}

.start-menu {
    background-color: darkslateblue;
}

.menu button {
    margin: 1% 0 0 0;
    display: block;
    width: var(--card-height);
    height: var(--card-width);
    cursor: pointer;
}

.menu button:hover {
    background-color: var(--color-grey);
    color: white;
}

/* Card Display */
.card-background{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 50, 0.5);
}

.card-background .card-display{
    border: 4px solid silver;
    width: 30%;
    height: 90%;
    background-color: darkgoldenrod;
    color: white;
}

.card-display .card-image{
    width: 100%;
    height: 70%;
    object-fit: fill;
    image-rendering: pixelated;
}

.card-display .card-name{
    background-color:darkgoldenrod;
}

.card-stats-container{
    width: 100%;
    display: flex;
}

/* Deck Select Menu */
.deck-element{
    margin: 2% 0;
    width: var(--card-width);
    height: var(--card-height);
    background: white;
    display: flex;
    flex-direction: column;
}

.deck-element .deck-image{
    width: 100%;
    height: 70%;
    object-fit: fill;
    image-rendering: pixelated;
}

.deck-element .deck-button-container{
    width: 100%;
    height: 30%;
}

.deck-element .deck-button-container .deck-button{
    width: 100%;
    height: 50%;
}

/* Deck Edit Menu */
.deck-edit-menu {
    padding: 1.2%;
    background-color: rosybrown;
}

.deck-edit-header {
    width: 100%;
    height: 10%;
    background-color: rosybrown;
    display: flex;
    align-items: center;
}

.deck-edit-header button {
    margin: 0;
    width: var(--card-height);
    height: 60%;
    cursor: pointer;
}

.deck-edit-header form {
    width: var(--card-height);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck-edit-header textarea {
    width: var(--card-height);
    height: 60%;
}

.deck-edit-menu .deck-edit-trunk {
    padding: 0 1.2% 1.2% 1.2%;
    width: 100%;
    height: 90%;
    background-color: burlywood;
    overflow-y: scroll;
}

.tier-number {
    margin: 1.2% 0;
}

.tier-one-units,
.tier-two-units {
    display: grid;
    grid-template-columns: repeat(8, var(--card-width));
    grid-template-rows: repeat(1, var(--card-height));
    gap: 1.2% 1.2%;
}

.tier-three-units,
.tier-one-items,
.tier-two-items {
    display: grid;
    grid-template-columns: repeat(4, var(--card-width));
    grid-template-rows: repeat(1, var(--card-height));
    gap: 1.2% 1.2%;
}

.tier-three-items {
    display: grid;
    grid-template-columns: repeat(2, var(--card-width));
    grid-template-rows: repeat(1, var(--card-height));
    gap: 1.2% 1.2%;
}

.card-element {
    width: var(--card-width);
    height: var(--card-height);
    object-fit: cover;
    image-rendering: pixelated;
}

/* Battle Menu Upper Container */
.play-battle-menu .upper-container {
    padding: 1rem;
    height: 60%;
    background-color: sandybrown;
}

.upper-container .upper-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
}

.upper-container .creatures-container {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.allies-container,
.enemies-container {
    display: grid;
    grid-template-columns: repeat(5, var(--card-width));
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 4%;
}

.creature-slot {
    width: 99px;
    height: 138px;
    background-color: whitesmoke;
}

/* Battle Menu Lower Container */
.play-battle-menu .lower-container {
    padding: 1rem;
    width: 100%;
    height: 40%;
    background-color: steelblue;
    display: flex;
}

.lower-left-container {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower-center-container {
    width: 70%;
    height: 100%;
    background-color: darkblue;

    display: grid;
    grid-template-columns: repeat(5, var(--card-width));
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    gap: 6%;
}

.holding-card-slot {
    width: var(--card-width);
    height: var(--card-height);
    background-color: steelblue;
}

.lower-right-container {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}